
body{ background:url(images/orange/bg-body.png) repeat top left; }
a{}	
#lighten{ background:url(images/orange/bg-lighten.png) no-repeat bottom right; }
#logo a{ background:url(images/orange/bg-logo.png) no-repeat top left; }
